@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
html, body{
margin: 0;
padding: 0;
}

body{
background-image: url(b.jpg); 
background-repeat: no-repeat; 
background-size: 1575px 875px;
width: 100%;
height: 100%;
font-family: 'Architects Daughter', cursive;
letter-spacing: 0.03em;
font-size: 45px;
line-height: 1.6;
color: #ffffff;
}

.title{
text-align: center;
font-size: 70px;
color: #ffffff;
margin-top: 150px;
font-weight: 100;
font-family: 'Piedra', cursive;
}

h1{
text-align: center;
font-size: 60px;
color: #ffffff;
margin-top: 100px;
font-weight: 100;
font-family: 'Piedra', cursive;	
}


.container{
width: 100%;
max-width: 1200px;
height: 430px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: auto;
}

.container .card a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
color: #ffffff6e;
}


.container .card{
	width: 572px;
	height: 602px;
	border-radius: 8px;
	box-shadow: 0 1px 1px rgb(255, 255, 255);
	overflow: hidden;
	margin: 14px;
	text-align: center;
	transition: all 0.25s;
}

.container .card:hover{
	transform: translateY(-15px);
	box-shadow: 0 10px 14px rgba(255, 255, 255);
}

.container .card img{
	width: 370px;
	height: 370px;
}

.container .card h4{
	font-size: 25px;
	color:rgb(0, 0, 0);
}

.container .card p{
padding: 0 1rem;
font-size: 16px;
font-weight: 300;
color:rgb(0, 0, 0);
}

.container .card a{
	font-size: 10px;
	text-decoration: none;
color: #ffffff;
}